body{
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}
/*top banner style*/
header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  padding-top: 1rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*centers the container*/
.container {
  max-width: 960px;
  margin: 0 auto;
}
nav{
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0px;
}
.mobile-menu {
  visibility: hidden;
}
/*this css makes the text center next to the logo */
nav div {
  display: flex;
  align-items: center;
}
nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
/*menu styles*/
ul {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}
/*makes the menu appear in a line*/
ul li {

    margin: 1rem 2rem;
}
/*position the block on the main banner*/
.flex{
  display: flex;
}
header .flex {
  justify-content: flex-end;
}
.main-banner{
  display: inline-block;
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}
h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
}
/*supporting section style*/
.supporting{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
.service div {
  justify-content: flex-end;
}
.service img .paper {
  width: 3.5rem;
}
.service img {
  width: 5rem;
  margin-bottom: 1rem;
}
div {
  display: block;
}

/*info section*/
.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;

}
section .title {
  font-size: 1rem;
  font-weight: bold;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  color: white;
  font-family: Helvetica;
  display: block;
  max-width: 10rem;
}
/*footer*/
footer{
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
  background-color: azure;
  padding-bottom: 4rem;

}
footer img, footer div {
  margin-top: 4rem;

}
footer img {
  margin-left: 4rem;
  margin-right: 1rem;
  height: 1.5rem;
}
@media only screen and (max-width: 1024px){
  nav.container {
    max-width: 100%;

  }
  header {
    padding-top: 0px;
    height: 22rem;
  }
  .main-banner{
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }
h1 {
  font-size: 1.33rem;
}
header {
  height: 22rem;
}
}
@media only screen and (max-width: 960px) {
nav.container {
  max-width: 100%;
}
header {
    padding-top: 0px;
    height: 22rem;
  }
.menu {
  visibility: hidden;
}
.mobile-menu {
  visibility: visible;
}
.container span {
  visibility: hidden;
}
header {
  padding-top: 0px;
  height: 17rem;
  background-position: 20%;
}
.main-banner {
  margin: 9rem auto 0 auto;
  padding: 0px 1rem;
  width: 100%;
  text-align: center;
}
h1 {
  font-size: 1rem;
}
.supporting {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
  margin-bottom: 3.77rem;
}
.service div {
  font-size: 0.77rem;
}
.service {
  margin-bottom: 1.54rem;
}
.info .title {
  text-align: center;
  width: 100%;
  max-width: 100%;
}
.info {
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
}
info p {
  font-size: 0.77rem;
  padding: 1rem;
  margin-right: 2rem;
  text-align: center;
}

}
